.box{
    width: 200px;
    margin: auto;
    padding: 20px;
    text-align: center;
    border: 3px solid;
}
.active{
    background-color: blue;
    color: antiquewhite;
}
.inactive{
    background-color: rebeccapurple;
    color: white;
}